@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    font-size: 16px;
    line-height: 1.5;
    color-scheme: dark;
    background-color: #0A1741;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.underline-effect {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    transition: color 0.3s ease;
}

.underline-effect::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
}

.underline-effect:hover::after,
.underline-effect.active::after {
    width: 100%;
    left: 0;
}

.underline-effect.active {
    @apply text-teal-400;
}

.cursor-glow {
    position: fixed;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 500px rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease, opacity 0.3s ease;
    opacity: 0;
    z-index: 1000;
}

body:hover .cursor-glow {
    opacity: 0.3;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%) scale(1.2);
}

body:active .cursor-glow {
    opacity: 0.4;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%) scale(1.1);
}

@media (max-width: 640px) {
    .cursor-glow {
        width: 10rem;
        height: 10rem;
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animate-icons img {
    animation: float 3s ease-in-out infinite;
}

.animate-icons img:nth-child(odd) {
    animation-delay: 0.5s;
}

.animate-icons img:nth-child(3n) {
    animation-delay: 1s;
}

.animate-icons img:nth-child(3n+1) {
    animation-delay: 1.5s;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

